*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background:white;
    font-family:'Poppins',sans-serif;
}
.mooc{
    padding:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,330px));
    grid-gap:50px 50px;
}
.heading{
    background:rgb(86, 191, 217);
    color:rgb(40, 36, 36);
    margin:0px;
    padding:30px;
    font-weight:400;
    grid-column:1/-1;
    text-align:center;
}
.heading>h1{
    font-weight:400;
    font-size:32px;
    letter-spacing:1px;
    margin-bottom:10px;
    text-transform:uppercase;
}
.courses{
    display: grid;
    position:relative;
    grid-template-rows:auto 1fr;
    border-radius:15px;
    box-shadow:0 0 15px black;
    transition:.2s ease-in-out
}
.courses img{
    position:relative;
    width:300px;
    height:200px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius:15px 15px 0 0;
    cursor:pointer;
}
.details{
    padding:20px 10px;
    display:grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap:15px;

}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;

}
.details-sub>h5{
    font-weight:600;
    font-size:18px;
}
.price{
    text-align:right;
}
.details>p{
    color:grey;
    font-size:15px;
    line-height: 28px;
    font-weight:400;
    align-self: stretch;
    padding : 30px;
}
.details>button{
    background:rgb(60, 156, 239);
    border:none;
    color:white;
    font-size:16px;
    font-weight:600;
    width:200px;
    height:50px;
    border-radius:5px;
    cursor:pointer;
}
.details>button:hover{
    background-color:rgb(10, 101, 181);
}
.btn {
   
    background-color: #87dfe5;
    padding : 10px 25px;
    border-radius:20px;
    color: black;
    transition: 4ms ease-in-out;
    text-decoration: none;
    margin-left: 80%;
   
}