.box
{
    background-color: rgb(202, 239, 248);
    width:500px;
    height: auto;
    border: 6px solid lightgray;
    padding: 35px;
    margin:20px  500px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 700px;
}
.h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #074eb9;
    font-size: 250%;
}
#login_form
{
    width: 400px;
    height: 300px;
    margin-top:35px;
    margin-left:50px;
    padding: 20px;
    border: 2px solid #373535;
    border-radius:20px;
    box-shadow: 5px 5px 5px rgba(30,50,40,0.5);
 }
h1 
{
    text-align: center;
    margin: 0 0 20px;
}
.size
{
    font-size: 135%;
}
input , select{
    margin: 5px 0;
    padding: 15px;
    width: 90%;
    border: 1px solid rgb(227, 216, 216);
    border-radius:20px;
}
#login_button{
    margin: 10px 0 0 0;
    padding: 15px 8px;          
    width: 20%;
    height:20%;
    border: 1px solid hsla(0,72%,27%,0);
    font: bold 1.2em myFirstFont;
    color: #fff;
    background-color: #4d90fe;
    border-radius:20px;
    box-shadow: 5px 5px 5px rgba(30,50,40,0.5);
 }
input:focus
{
	outline:0;
    box-shadow: 5px 5px 5px rgba(30,50,40,0.5);
} 
select:focus
{
	outline:0;
    box-shadow: 5px 5px 5px rgba(30,50,40,0.5);
} 
